{% extends 'STAFF/staffBase.html' %}
{% block header %}
{% load static %}

<style>
    td,
    th {
        text-align: center !important;
    }
</style>

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(../static/assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Assigned Requests</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/staffHome">Home</a></li>
                <li>View Requests</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<center>
    {% if data %}
    <h1 class="m-3 bread"></h1>
    <input type="text" class="form-control" id="searchInput" style="width: 90%;" placeholder="Search...">
    <table id="table" border="1" class="table table-bordered mt-3" style="width: 90%;">
        <thead>
            <tr>
                <th style="border: 1px;color: black;">Name</th>
                <th>Weight</th>
                <th>Description</th>
                <th>Requested On</th>
                <th>Status</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for i in data %}
            <tr id="row{{ forloop.counter }}">
                <td>{{ i.civil_id.name }}</td>
                <td>{{ i.weight }} Kg</td>
                <td>{{ i.desc }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.status }}</td>
                {% if i.status == 'Assigned' %}
                <td>
                    <a href="/pickuporder?id={{i.id}}" class="btn btn-success">Pickup</a>
                </td>
                {% elif i.status == 'Pickedup' %}
                <td>
                    <a href="/forwardorder?id={{i.id}}" class="btn btn-success">Forward</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="noMatchingData" style="display: none;">
        <h1 class="m-5">No Results Found</h1>
    </div>
    {% else %}
    <h1 class="m-3">No Data Found</h1>
    {% endif %}
</center>


{% endblock %}